@import url("../Style/Base.css");

.blogCard{
width: 100%;
background-color: white;
}

.blogCard img{
    width: 100%;
    height: 200px;
}
.blogCard h2, .para{
    padding: 10px;
    text-align: left;
}

